body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', helvetica, arial
}

#map {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	transition: all 1s ease-out;
}

.blur {
	/* Any browser which supports CSS3 */
    filter: blur(5px);

    /* Webkit */
    -webkit-filter: blur(5px);

    /* Opera */
    -o-filter: blur(5px);
}

#search, aside {
	position: fixed;
}

aside {
	height: 100%;
	width: 440px;
	top: 0px;
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#searchBackground {
	background-color: #4285F4;
	width: 100%;
	height: 80px;
}

#search {
	z-index: 2;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 15px;
}

#opener {
	position: absolute;
	right: -20px;
	top: 20px;
	width: 20px;
	height: 40px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
}

#searchWrap {
	width: 400px;
	height: 50px;
}

#searchOption {
	float: right;
	width: 80px;
	height: 50px;
}

#delete, #searchButton {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
	cursor: pointer;
}

#search i {
	width: 100%;
	text-align: center;
	line-height: 56px;
	font-size: 25px;
	color: #CECBCB;
}

#bar {
	position: relative;
	width: 280px;
	height: 40px;
	text-align: center;
	padding: 5px 0 5px 40px;
	float: left;
}

#bar input {
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	border: none;
	font-size: 15px;
	padding-left: 5px;
}

#bar input:focus {
	outline: 0;
}

.asideOpen {
	left: 0px;
}

.asideClose {
	left: -440px;
}

.asideFullClose {
	left: -460;
}

/**********
* = places
***********/

#results {
	padding: 0;
	margin: 0;
}

.place {
	list-style: none;
	border-bottom: solid 1px #000000;
	margin: 0;
	padding: 5px 10px;
	cursor: pointer;
}

.placeTitle {
	font-size: 20px;
	font-weight: 600;
}

.placeAddress {
	font-size: 14px;
	color: #515151FF;
}



#login {
	position: fixed;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	left: 50%;
}

#loginInner {
	margin: 50px;
}

#imagewrap {
	width: 50%;
	margin: 0 auto 20px auto;
}

#imagewrap img {
	width: 100%;
}

.input {
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 10px;
}

label {
	font-weight: bold;
}





.fab {
	padding: 10px;
}

.fab .title {
	overflow: hidden;
	font-size: 26px;
	margin: 5px 0;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.12)
}

.fab h3 {
	margin: 3px 0;
}

.fab #address {
	margin: 0;
}

#chart {
	width: 100%;
}